<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn">
        <activity
            android:name=".activity.MangHinhThongKe"
            android:exported="false" />
        <activity
            android:name=".activity.SearchAppointmentActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.TaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DangKyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CapNhatLichHenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LichHenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DatLichActivity"
            android:exported="false" /> <!-- ✅ CHỈ 1 LAUNCHER -->
        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ✅ các màn khác KHÔNG được để LAUNCHER -->
        <activity
            android:name=".activity.SearchProfilePetActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChiTietBenhAnActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChiTietPetActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ThemPetActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SuaPetActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ThemBenhAnActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SuaBenhAnActivity"
            android:exported="true" />
    </application>

</manifest>